rl-display, ::part(code), ::part(textarea) {
	font-family: noto sans mono;
	font-weight: 600;
}

::part(code), ::part(textarea) {
	font-size: 14px;
}

label {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 18px;
}
