@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

body {
	--width: 650px;
	--padding: 8px;
	--line-height: 1.3;
	font-family: crimson pro;
	max-width: var(--width);
	margin: 0 auto;
	padding: var(--padding);
	line-height: var(--line-height);
	background-color: #c85;
	hyphens: auto;
}

a, t-o-c::part(a) {
	color: #049;
}

h1, h2, h3 {
	font-family: jost;
}

h2 {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

p, li {
	font-size: 18px;
	text-align: justify;
	code {
		font-size: 14px;
		font-weight: bold;
		white-space: nowrap;
		font-family: noto sans mono;
	}
}

li code:first-child { font-weight: bold; }

x-ample {
	width: 85%;
	margin: auto;
	tab-size: 4;
	margin-bottom: 2em;
	border-left: 2px solid #941;
	padding-left: 8px;

	&::part(code) { cursor: pointer; }
	&::part(code):hover { background-color: rgba(0 0 0 / 0.1); }
}

footer {
	margin-top: 3em;
	border-top: 1px solid #000;
	padding-top: 1em;
	text-align: center;
}

@media (min-width: 1200px) {
	t-o-c {
		position: fixed;
		left: calc(50vw + var(--width)/2 + 32px);
		top: calc(2.67em + var(--line-height)*2em + var(--padding));

		h3 {
			margin-top: 0;
		}
	}
}